{% extends 'layout.html' %}

{% block content %}
<div class="d-flex justify-content-between border-bottom py-2">
    <h2>Edit: {{ article_title }}</h2>
    <div class="d-grip gap-2 d-md-flex">
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-danger" type="button" role="button" href="{% url 'wiki:article_delete' article_title %}">Delete</a>
        </div>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        {% if form.content.errors %}
        <textarea class="form-control is-invalid" name="content"
            id="content" rows="20">{{ form.content.value|default_if_none:'' }}</textarea>
        <div id="contentHelpBlock" class="invalid-feedback">
            {{ form.content.errors }}
        </div>
        {% else %}
        <textarea class="form-control" name="content"
        id="content" rows="20">{{ form.content.value|default_if_none:'' }}</textarea>
        {% endif %}  
    </div>
    <button type="submit" class="btn btn-primary">저장하기</button>
</form>
{% endblock %}