{% extends 'layout.html' %}
{% load wiki_filter %}
{% block content %}
<!-- Article -->
<div class="d-flex justify-content-between border-bottom py-2">
    <!-- <h2><a href=".">{{ article.title }}</a></h2> -->
    <h2>{{ article.title }}</h2>
    <div class="d-grip gap-2 d-md-flex">
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-primary" type="button" role="button" href="{% url 'wiki:article_edit' article.title %}">Edit</a>
            <a class="btn btn-primary disabled" type="button" role="button" href="history">History</a>
        </div>
    </div>
</div>

<div class="card my-3">
    <div class="card-body">
        <div class="card-text">{{ article.content|mark }}</div>
    </div>
</div>

<h5 class="border-bottom my-3 py-2">{{article.comment_set.count}}개의 리뷰가 있습니다.</h5>
{% for comment in article.comment_set.all %}
<div class="card my-3">
    <div class="card-body">
        <div class="card-text" style="white-space: pre-line;">{{ comment.content }}</div>
        <div class="d-flex justify-content-end">
            <div class="badge bg-light text-dark p-2">
                {% if comment.author %}
                {{ comment.author.username }}
                |
                {% endif %}
                {{ comment.create_date }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<form action="{% url 'wiki:comment_create' article.title %}" method="post" class="my-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="content" class="form-label">Comment 내용</label>
        {% if form.content.errors %}
        <textarea name="content" id="content" class="form-control is-invalid" rows="3">{{ form.content.value|default_if_none:'' }}</textarea>
        <div id="contentHelpBlock" class="invalid-feedback">
            {{ form.content.errors }}
        </div>
        {% else %}
        <textarea name="content" id="content" class="form-control"  rows="3">{{ form.content.value|default_if_none:'' }}</textarea>
        {% endif %}        
    </div>
    <input type="submit" value="Comment 등록" class="btn btn-primary">
</form>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
{% endblock %}