{% load static %}

<!doctype html>
<html lang="ko">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

	<!-- custom CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	{% include "google_analytics.html" %}

	{% if title %}
	<title>{{title}} - Alkorithms</title>
	{% else %}
	<title>Alkorithms</title>
	{% endif %}
</head>

<body>
	{% include "navbar.html" %}
	<div class="container my-3">
		{% block content %}
		{% endblock %}
	</div>
	<footer class="my-5 pt-5 text-muted text-center text-small">
		<p class="mb-1">Made by ASIXER</p>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="https://github.com/SylvesterKwon/marki">Github</a></li>
			<li class="list-inline-item"><a href="https://discord.com/invite/rs2q8qPv6z">Discord</a></li>
		</ul>
	</footer>
</body>
<script src="{% static 'bootstrap.min.js' %}"></script>
</html>