<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/wiki">Alkorithms</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wiki:articles' %}">최근 변경</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        특수 기능
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">미구현</a></li>
                    </ul>
                </li>
            
            </ul>
            <div class="d-flex gap-2">
                <div class="d-flex gap-2">
                    {% if user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle" id="userDropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <ul class="dropdown-menu"></a>
                            <li><a class="dropdown-item" href="{% url 'common:settings' %}"> 설정</a></li>
                            <li><a class="dropdown-item" href="#"> 사용자 문서 (미구현)</a></li>
                            <li><a class="dropdown-item" href="#"> 기여 내역 (미구현)</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% if user.is_staff %}
                            <li><a class="dropdown-item text-danger" href="/admin">Admin</a></li>
                            {% endif %}
                            <li><a class="dropdown-item text-danger" href="{% url 'common:logout' %}">Log out</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'common:login' %}">Login</a>
                    <a class="btn btn-secondary" href="{% url 'common:signup' %}">Sign up</a>
                    {% endif %}
                </div>
                <form class="d-flex" id="search_form" method="get" action="{% url 'wiki:article_search' %}">
                    <input class="form-control me-2" id="search_kw" name="q" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>